body {
    background-color: #000000;
    color: #ffffff;
}

.form {
    background-color: #15172b;
    width: 300px;
    height: 400px;
    position: relative;
    top: 250px;
    left: 550px;
    border-radius: 10px;
    font-size: 20px;
}

.input {
    background-color: #303246;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    position: relative;
    left: 50px;
}

.submit {
    background-color: hsl(203, 100%, 43%);
    color: #ffffff;
    position: relative;
    left: 60px;
    border-radius: 8px;
    width: 180px;
    height: 30px;
}
