@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  font-family: "poppins", "verdana";
  box-sizing: border-box;
}


/* 
font-family: 'Indie Flower', cursive;
  font-family: 'Poppins', sans-serif; */

.container {
  background-color: #f8ecdd;
}



h1,h2 {
  text-align: center;
}

h3 {
  padding-left: 20%;
}

p > input {
  border-radius: 20px;
}

.yo {
  position: relative;
  left: 20%;
}

button {
  width: 340px;
  height: 40px;
  border-radius: 10px;
  background-color: #609ea0;
  color: #000000;
}
