.btn {
    background-color:  #000; 
    color: #ffffff;
    width: 7%;
    height: 6%;
    position: absolute;
    top: 50%;
    left: 45%;
    border-radius: 8px;
    border: 2px solid yellow;
    box-shadow: -1px 0px 10px -1px yellow;
}

.div_btn {
    position: relative;
}

body {
    background-color: #000000;
}